
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('stars3.gif');
    background-repeat: repeat;
    background-size: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* six columns, leave outer 2 blank */
    grid-template-rows: auto 1fr auto; /* Header, Main Content, Footer */
    min-height: 100vh;
}


.header,
.sidebar,
.contentContainer,
.footer {
    padding: 20px;
}

.header {
    grid-column: 3 / 5;
    margin: auto;
}

.leftbar {
    grid-column: 2 / 3;
}
.mainbar {
grid-column: 3 / 5 ;
}
.rightbar {
    grid-column: 5 / 6;
}

.footer {
    grid-column: 3 / 5;
    margin: auto;
}




.contentContainer {
    border-style: inset;
    border-radius: 5px;
    background-color: #14141433;
    border-color: #495392;
    border-width: 7px;
    overflow-y: scroll;
    z-index: 1;
    margin-left: 12px;
}