@charset "UTF-8";

* {
    box-sizing:border-box;
}

@font-face {
    font-family: bigPixel;
    src: url(ADDSBP__.TTF);
}

@font-face {
    font-family: smallPixel;
    src: url(ambitsek.ttf);
}

h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    color: #f1fa8c;
}

h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    color: #f1fa8c;
}

ol {
    padding: 20px;
}

ul {
    padding: 20px;
}

ol li {
    padding: 5px;
    margin-left: 35px;
}

ul li {
    margin: 5px;
} 

h1 {
        font-family: bigPixel;
        font-size: 22px;
        color: #ff79c6;
}

p {
    font-size: 12px;
    line-height: 2;
    color: #f8f8f2;
}
body {
    background : black;
}
a {
    text-decoration: none;
}
a:link {
    color: var(--sapphire); 
}
a:visited {
    color: var(--mauve);
}
a:hover {
    color: var(--flamingo);
}
a:active {
    color: var(--maroon); 
}

:root {
    --rosewater: #F5E0DC;
    --flamingo: #F2CDCD;
    --pink: #F5C2E7;
    --mauve: #CBA6F7;
    --red: #F38BA8;
    --maroon: #EBA0AC;
    --peach: #FAB387;
    --yellow: #F9E2AF;
    --green: #A6E3A1;
    --teal: #94E2D5;
    --sky: #89DCEB;
    --sapphire: #74C7EC;
    --blue: #89B4FA;
    --lavender: #B4BEFE;
    
    --text: #CDD6F4;
    --subtext1: #BAC2DE;
    --subtext0: #A6ADC8;
    --overlay2: #9399B2;
    --overlay1: #7F849C;
    --overlay0: #6C7086;
    --surface2: #585B70;
    --surface1: #45475A;
    --surface0: #313244;
    
    --base: #1E1E2E;
    --mantle: #181825;
    --crust: #11111B;
}

body {
    font-family: smallPixel, sans-serif;
    font-size : 10px;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--text);
    background-image: url('stars3.gif');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}


.header,
.sidebar,
.contentContainer,
.footer {
    padding: 20px;
}

.header {
    color: var(--text);
    grid-column: 3 / 7;

}

.leftbar {
    grid-column: 2 / 3;
}

.mainbar {
    grid-column: 3 / 7;
}

.rightbar {
    grid-column: 7 / 8;
}

.footer {
    color: var(--text);
    grid-column: 4 / 6;
    margin: auto;
}

.contentContainer {
    border-style: inset;
    border-radius: 5px;
    background: rgb(30,30,46, 0.8);
    border-color: var(--blue);
    border-width: 5px;
    overflow-y: scroll;
    overflow-x: scroll;
    z-index: 1;
    margin-left: 10px;
    margin-bottom: 10px;

}

.blink_text
{
    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;
    color: red !important;
}

@-moz-keyframes blinker
{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker
{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker
{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

/* hides the feed title */
p.rss-title {
    display:none;
}

li.rss-item {
    list-style-type:none;   /* this removes the bullet points */
    margin-bottom:20px; /* adds spacing under entry content */
}

/* this styles the blog title link */
li.rss-item a {
    font-weight:bold;
    font-size:20px;
    text-decoration:none; /* removes underline */
}

/* this styles the date */
.rss-date {
    display:inline-block; /* need this to add padding around each number */
    padding-top:10px;
    padding-bottom:10px;
    font-style:italic;
}

/* hides the weird # of comments (displayed as 0 in demo) */
a.rss-item:last-child {
    display:none;
}

/* Add this CSS inside your style.css file or your CSS section */

@media screen and (max-width: 767px) {
    /* Adjust grid layout for smaller screens */
    .grid-container {
    display: grid;
      grid-template-columns: 1fr; /* Change to a single column for mobile */
    }

    /* Modify specific elements within the smaller screen */
    .header,
    .leftbar,
    .rightbar,
    .footer {
      grid-column: auto; /* Reset grid-column to auto for these elements */
    }

    .mainbar {
      grid-column: auto; /* Reset grid-column to auto for the main content */
      padding: 20px; /* Add padding to the main content for better readability */
    }
}